:root {
  --board-green: #779557;
  --board-white: #ebecd0;
  --tile-size: calc(80vh / 8);
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8rem;
}

.top {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
}

.details {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  height: 80vh;
}

.history {
  border: solid 1px var(--board-white);
  width: calc(var(--tile-size) * 8);
}

.bottom {
  width: 100%;
  height: 10vh;
  display: flex;
  gap: 4rem;
}

.player-info {
  display: flex;
  gap: 1rem;
  width: calc(var(--tile-size) * 8);
}

.buttons-game {
  display: flex;
  width: calc(var(--tile-size) * 8);
  justify-content: flex-end;
}

.buttons-game button {
  width: 100px;
  height: 40px;
}
