:root {
  --board-green: #779557;
  --board-white: #ebecd0;
  --tile-size: calc(80vh / 8);
}

/* BOARD */

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, var(--tile-size));
  grid-template-rows: repeat(8, var(--tile-size));
}

.tile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.has-piece:hover {
  cursor: grab;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.tile.selected-piece {
  background-color: rgba(251, 254, 32, 0.5);
}

.tile.king-on-check {
  background-color: rgba(254, 65, 32, 0.5);
}

.tile img {
  width: calc(var(--tile-size) * 0.8);
  height: calc(var(--tile-size) * 0.8);
}

.tile-white {
  background-color: var(--board-white);
  color: var(--board-green);
}

.tile-black {
  background-color: var(--board-green);
  color: var(--board-white);
}

.movement-icon {
  width: calc(var(--tile-size) * 0.3);
  height: calc(var(--tile-size) * 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.take-icon {
  position: absolute;
  width: calc(var(--tile-size) * 0.9);
  height: calc(var(--tile-size) * 0.9);
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.num-span {
  position: absolute;
  top: 5px;
  left: 3px;
}

.letter-span {
  position: absolute;
  bottom: 5px;
  right: 3px;
}
